<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.gduf.xytg.activity.mapper.ActivityInfoMapper">
    <resultMap id="ActivityRuleMap" type="cn.gduf.xytg.model.activity.ActivityRule" autoMapping="true"></resultMap>
    <resultMap id="ActivitySkuMap" type="cn.gduf.xytg.model.activity.ActivitySku"></resultMap>

    <select id="selectCartActivity" resultMap="ActivitySkuMap">
        SELECT
            info.id as activityId,
            sku.sku_id as skuId,
            FROM activity_info info
        INNER JOIN activity_sku sku ON info.id = sku.activity_id
        <where>
            and sku.sku_id IN
            <foreach collection="skuIdList" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </where>
        AND now() BETWEEN info.start_time AND info.end_time
    </select>

    <select id="findActivityRule" resultMap="ActivityRuleMap">
        SELECT info.activity_type as activityType,
               rule.id,
               rule.activity_id,
               rule.condition_amount,
               rule.condition_num,
               rule.benefit_amount,
               rule.benefit_discount
        FROM activity_info info
                 INNER JOIN activity_sku sku ON info.id = sku.activity_id
                 INNER JOIN activity_rule rule ON info.id = rule.activity_id
        WHERE sku.sku_id = #{skuId}
          AND now() BETWEEN info.start_time AND info.end_time
        ORDER BY rule.condition_amount DESC
    </select>

    <!--// 如果之前参加过，活动正在进行中，排除商品-->
    <select id="selectSkuIdListExist" resultType="Long">
        SELECT
        sku.sku_id
        FROM activity_info info
        INNER JOIN activity_sku ON info.id = sku.activity_id
        <where>
            <if test="skuIdList != null">
                and sku.sku_id IN
                <foreach collection="skuIdList" item="item"
                         index="index" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
        AND now() BETWEEN info.start_time AND info.end_time
    </select>

</mapper>
